{
  "singleQuote": false,
  "semi": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "cursorOffset": 2,
  "useTabs": false,
  "printWidth": 120
}
